body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: #ffe6c9;
}

.parent-div {
  display: flex;
  height: 90vh;
  width: 70%;
  box-shadow: 0px 0px 45px 0px #e1c2a8;
  border-radius: 24px;
  /* border: 2px solid #fff; */
}
.login-pic {
  height: 100%;
  width: 50%;
}

.login-details {
  border-radius: 0 24px 24px 0px;
  height: 100%;
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
}

.content {
  height: 90%;
  width: 70%;
}

.head {
  color: #525252;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label {
  font-size: 10px;
  font-weight: lighter;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

input {
  border-radius: 5px;
  border: 1px solid #ded2d9;
  width: 95%;
  padding: 10px 10px;
  align-items: center;
  gap: 13px;
  color: gray;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.remind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.remind label {
  width: fit-content;
  display: flex;
  font-size: 10px;
  font-weight: lighter;
}

.continue{
  /* display: flex; */
  /* flex-direction: column; */
  margin-bottom: 20px;
  margin-top: 20px;
 justify-content: center;
}
#rememberMe {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
}
.forgot-password {
  font-size: 10px;
  font-weight: lighter;
  text-decoration: none;
  color: #525252;
}

.btn-login {
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  padding: 0.5rem 0;
  align-items: center;
  text-align: center;
  background-color: #7f265b;
  border: none;
  border-radius: 0.2rem;
}

.annexed-image {
  position: absolute;
  margin: 37.3% 30%;
  width: 100px;
  height: 50px;
}
